@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.lista-filmes{
    max-width: 1000px;
    margin: 12px auto;
}

.container h1{
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}

.lista-filmes article{
    width: 100%;
    background-color: #fff;
    padding: 15;
    border-radius: 4px;
    padding-right: 5px;
    padding-left: 5px;
}

.lista-filmes strong{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.35rem;
    display: block;
    white-space: nowrap; /* Evita que o texto quebre para a próxima linha */
    overflow: hidden;    /* Esconde o texto que ultrapassar o limite do elemento */
    text-overflow: ellipsis; /* Adiciona "..." no final do texto cortado */
}

.lista-filmes img {
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    min-height: 280px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lista-filmes a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #116feb;
    text-decoration: none;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.loading{
    justify-content: center;
    text-align: center;
    margin-top: 35vh;
}

.slick-prev:before, .slick-next:before {
    color: #768599;
    font-size: 35px;
}

.slick-next {
    right: -28px;
}

.slick-prev {
    left: -45px;
}